# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.production.example
.yarn/

# Base de données locale
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Médias uploadés
public/uploads/*
!public/uploads/.gitkeep
